# Banco de Dados
DB_NAME=receitas
DB_USER=postgres
DB_PASSWORD=

# Backend API
SPRING_PROFILE=prod
FRONTEND_URL=http://localhost:4173
JWT_SECRET=
SPRING_MAIL_USERNAME=
SPRING_MAIL_PASSWORD=

# Frontend
REACT_APP_API_URL=http://backend:8080